@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  font-size: 14px;
  height: 500px !important;
}

.CodeMirror-gutters {
  border-right: 1px solid #e5e7eb;
}

.CodeMirror-linenumber {
  color: #6b7280;
}
